/*
	Name: Golden Garden - Style Page
	Description: CSS style sheet for the golden garden website.
	Created By: Jennifer Ryan, Deirbhle Touhy and Sunje Alice Winteler.
	Created On: 04/02/2019
*/

.wrapper{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	font: serif;
	
}

header{
	height: 75px;
	background-color: yellow;
}
nav{
	float: right;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{/*figure out how to override boostrap*/
	background-color: black;
	color: yellow;
}


/*Home Page of Content within header and footer*/


#products{
	text-align: center;
}

#about{
	text-align: center;
}

/*End of Home Page Content within header and footer*/

/*Slideshow Styling*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*Responsive Images*/
.responsive {
  width: 100%;
  height: auto;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Content on Contact Page */
form{
	width: 750px;
}
label{
	 font-weight: bold;
	 font-variant: small-caps;
}
.btn{
	font-weight: bold;
	font-variant: small-caps;
	background-color: yellow;
	color: black;
	border: 3px solid black;
}
/*End of Contact Page Styling*/
footer{
	background-color: yellow;
}

